# Test Framework Specifics
pytest
pytest-html
pytest-variables[yaml]
pytest-xdist
pytest-rerunfailures
py>=1.5.0
pyyaml
polling

#Performance Test Specifics
locust
pandas

#UI Test Specifics
playwright
pytest-playwright
git+https://github.com/DHMP91/PlayPOM.git

#API Test Specifics
requests
openapi-python-client

#Assertion Library
PyHamcrest
